<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid Playing field</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/Style_(css)/stylesheet_playing_field.css">

  </head>
<body>

  <h1>Playing field! Flexbox</h1>
  <p>Wat doet nou wat?</p>
  <section class ="flex-gallery">
    <div class = "box">margin = de ruimte buiten een vak :D</div>
    <div class = "box">padding = binnen het vak!</div>
    <div class = "box">Breedte spreekt voor zich</div>
    <div class = "box">Hoogte ook!</div>
    <div class = "box">Backgroudnd color voor alle leuke kleuren!</div>
    <div class = "box">Border is de rand ome een vak</div>

  </section>

  <h2>Playing field! Grid</h2>
  <section class = "grid-gallery">
    <div class = "row" > Color = kleur van typografie</div>
    <div class = "row" > static is normaal</div>
    <div class = "row" > Relative = verplaatsbaar</div>
    <div class = "row" > absolute = los geplaatst</div>
    <div class = "row" > fixed = staan blijven!</div>
    <div class = "row" > Sticky = blift staan tijdens het scrollen</div>
  </section>

  <h2>Rare iconen!</h2>
    <p><b>&amp;</b> = & </p>
    <p><b>&quot;</b> = " </p>
    <p><b>&lt;</b> = < </p>
    <p><b>&gt;</b> = > </p>
    <p><b>&nbsp;</b> = non-breaking-space </p>
    <p><b>&euro;</b> = euro teken</p>
    <p><b>&copy;</b> = copyright tm</p>
    <p><b>&trade;</b> = trademark </p>

</body>


</html>

<!-- bronnen:
https://www.w3schools.com/css/css_grid.asp
https://css-tricks.com/css-grid-layout-guide/
https://www.youtube.com/watch?v=JYfiaSKeYhE
https://www.w3schools.com/html/html_entities.asp
