<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daisy's portfolio</title>


    <link rel="stylesheet" href="../../static/Style_(css)/portfolio_stylesheet.css">
</head>

<body>
    <h1>Daisy's portfolio</h1>
    <h2>Here you can see my portfolio, just a quick introduction</h2>
        <p>I'm Daisy, trying to figure out HTML and website stuff. So mistakes are gonna be there :)</p>


    <section class = "Who_am_I">
        <div class="Who_am_I_afbeelding">
            <img src="../../static/Pictures/Biscuit.png" alt="Biscuit">
            <img src="../../static/Pictures/Tea.jpg" alt="Tea">
        </div>
        <div class="Who_am_I_tekst">
            <h3>Who am I?</h3>
            <p>Im a publicadministration student. In my freetime I play a lot of World of Warcraft or tend to my guneapigs.</p>
            <a href="learnaboutme.html">Learn more about who I am</a>
        </div>


    </section>

    <section class = "Skills_and_expertise">
        <div class="Skills_expertise_afbeelding">
            <img src="../../static/Pictures/WoW.png" alt="WoW">
        </div>
        <div class = "Skills_tekst">
            <h3>Skills and expertise</h3>
                <h4>Work and school</h4>
                    <p>I study public administration, I did studies to youth participation for a muncipality and farmer associatians and how to activate them.</p>
                <h4>Extra</h4>
                <p>In my daily life I help running a World of Warcraft guild of around 400 people. In this I focus mainly on recruitment, human relations in the guild and social stuff.</p>
                <a href="myprojects.html">Learn more about my skills and expertise</a>
        </div>

    </section>

    <section class = "Contact_me">
        <div class = "Contact_tekst">
            <p>If you ever want to contact me, let me know:D</p>
            <a href="Contactform.html">Get in touch</a>


        </div>
    </section>

    <section class = "Playing_field">
        <div class="Playing_field">
            <p>Click here for the grid chaos!</p>
            <a href="Playing_field.html">Click here for the chaos!</a>
        </div>
    </section>

</body>

</html>

<!--Bronnen:
https://www.w3schools.com/html/html_comments.asp
https://www.w3schools.com/cssref/pr_font_font-family.php
https://www.w3schools.com/css/css_float.asp
https://www.w3schools.com/css/css_positioning.asp
https://www.w3schools.com/css/css_margin.asp
https://www.reddit.com/r/learnprogramming/comments/vrb4wu/how_do_i_link_between_html_pages_on_a_website/
https://stackoverflow.com/questions/9855656/how-can-i-submit-a-form-using-javascript
https://getbootstrap.com/docs/5.0/utilities/background/
https://stackoverflow.com/questions/39932419/html-submit-button-sound-issue
-->