<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betere portofolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/Style_(css)/portfolio_2.css">

</head>
<body>
    <header>
        <h1>Daisy's betere portfolio!</h1>



    <nav>

        <a href="Portofolio.html">About</a>
        <a href="learnaboutme.html">Contact</a>
        <a href="myprojects.html">Mijn projecten!</a>
        <a href="Contactform.html">Contactform!</a>
        <a href="Playing_field.html">Chaos en ontdekken!</a>



    </nav>
 </header>


<main>
    <section class="portfolio">
        <h2>Mijn tweede betere gestylde portofolio!!</h2>

        <div class="projecten-container">

            <article class="project">
                <img src="../../static/Pictures/Tea.jpg" alt="Tea de rode chagerijnige cavia">
                <h3><a href="Portofolio.html">Project 1</a></h3>
                <p>Dit is een korte beschrijving van project 1.</p>
            </article>

            <article class ="project">
                <img src ="../../static/Pictures/Biscuit.png" alt = "Biscuit de hongerige cava">
                <h3><a href="Portofolio.html">Project 2</a></h3>
                <p>Dit is een korte beschrijving van project 2.</p>
                </article>

            <article class ="project">
                <img src = "../../static/Pictures/WoW.png" alt = "WoW">
                <h3><a href="Portofolio.html">Project 3</a></h3>
                <p>Dit is een korte beschrijving van project 3.</p>
            </article>

            <article class ="project">
                <img src ="../../static/Pictures/achtergrond.jpg" alt = "School">
                <h3><a href="Portofolio.html">Project 4</a></h3>
                <p>Dit is een korte beschrijving van project 4.</p>

            </article>
        </div>
        </section>
        </main>

<footer class = "footer">
    <p>Fancy trademark by daisy :D </p>
    <p><b>&trade;</b></p>

</footer>
</body>
</html>